In [2]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

***Extract the crowdfunding.xlsx Data***

In [3]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

***Create the Category and Subcategory DataFrames***

In [5]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

Index(['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged',
       'outcome', 'backers_count', 'country', 'currency', 'launched_at',
       'deadline', 'staff_pick', 'spotlight', 'category & sub-category'],
      dtype='object')

In [6]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [7]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].unique()
subcategories = crowdfunding_info_df['subcategory'].unique()

print(categories)
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']
['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [8]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [9]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [10]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = []

for c in category_ids:
    new_cat = ("cat" + str(c))
    cat_ids.append(new_cat)

# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = []

for s in subcategory_ids:
    new_subcat = ("subcat" + str(s))
    scat_ids.append(new_subcat)

# Print
print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['subcat1', 'subcat2', 'subcat3', 'subcat4', 'subcat5', 'subcat6', 'subcat7', 'subcat8', 'subcat9', 'subcat10', 'subcat11', 'subcat12', 'subcat13', 'subcat14', 'subcat15', 'subcat16', 'subcat17', 'subcat18', 'subcat19', 'subcat20', 'subcat21', 'subcat22', 'subcat23', 'subcat24']

In [11]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({ "category_id": cat_ids,
                            "category": categories})

#Create a category DataFrame with the subcategory_id array as the 
#subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({ "subcategory_id": scat_ids,
                            "subcategory": subcategories})

In [12]:
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [13]:
subcategory_df

   subcategory_id        subcategory
0         subcat1        food trucks
1         subcat2               rock
2         subcat3                web
3         subcat4              plays
4         subcat5        documentary
5         subcat6     electric music
6         subcat7              drama
7         subcat8         indie rock
8         subcat9          wearables
9        subcat10         nonfiction
10       subcat11          animation
11       subcat12        video games
12       subcat13             shorts
13       subcat14            fiction
14       subcat15  photography books
15       subcat16   radio & podcasts
16       subcat17              metal
17       subcat18               jazz
18       subcat19       translations
19       subcat20         television
20       subcat21       mobile games
21       subcat22        world music
22       subcat23    science fiction
23       subcat24              audio

In [14]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

***Campaign DataFrame***

In [15]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [19]:
# Rename the blurb, launched_at, and deadline columns.
campaign_v2_df = campaign_df.rename(columns={"blurb" : "description",
                                                 "launched_at" : "launched_date",
                                                 "deadline" : "end_date"})
campaign_v2_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [20]:
# Convert the goal and pledged columns to a `float` data type.
campaign_v2_df["pledged"] = (campaign_v2_df["pledged"]).astype(float)
campaign_v2_df["goal"] = (campaign_v2_df["goal"]).astype(float)

campaign_v2_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [21]:
# Check the datatypes
campaign_v2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   float64
 5   pledged                  1000 non-null   float64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_date            1000 non-null   int64
 11  end_date                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
 15  category                 1000 non-null   object
 16  subcategory              1000 non-null   object
dtypes: bool(2), float64(2), int64(5), object(8)
memory usage: 119.3+ KB

In [22]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt

In [23]:
#^cont.
campaign_v2_df['launched_date'] = pd.to_datetime(campaign_v2_df['launched_date'], unit='s').dt.strftime('%Y-%m-%d') 
campaign_v2_df['end_date'] = pd.to_datetime(campaign_v2_df['end_date'], unit='s').dt.strftime('%Y-%m-%d') 

campaign_v2_df.head

<bound method NDFrame.head of      cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description      goal   pledged  \
0             Pre-emptive tertiary standardization     100.0       0.0
1                 Managed bottom-line architecture    1400.0   14560.0
2     Function-based leadingedge pricing structure  108400.0  142523.0
3    Vision-oriented fresh-thinking conglomeration    4200.0    2477.0
4                        Proactive foreground core    7600.0    5265.0
..                                             ...       ...       ...
995            Vision-oriented scalable definition   97300.0  153216.0
996       Future-proofed upward-trending migration    6600.0    4814.0
997              Right-sized full-range throughput    7600.0    4603.0
998           Polarized composite customer loyalty   66600.0   37823.0
999                    Expanded eco-centric policy  111100.0   62819.0

        outcome  backers_count country currency launched_date    end_date  \
0        failed              0      CA      CAD    2020-02-13  2021-03-01
1    successful            158      US      USD    2021-01-25  2021-05-25
2    successful           1425      AU      AUD    2020-12-17  2021-12-30
3        failed             24      US      USD    2021-10-21  2022-01-17
4        failed             53      US      USD    2020-12-21  2021-08-23
..          ...            ...     ...      ...           ...         ...
995  successful           2043      US      USD    2020-12-29  2021-05-30
996      failed            112      US      USD    2021-10-15  2021-11-30
997    canceled            139      IT      EUR    2021-11-06  2021-12-10
998      failed            374      US      USD    2020-10-08  2021-04-11
999    canceled           1122      US      USD    2020-12-30  2021-08-18

     staff_pick  spotlight category & sub-category    category  subcategory
0         False      False        food/food trucks        food  food trucks
1         False       True              music/rock       music         rock
2         False      False          technology/web  technology          web
3         False      False              music/rock       music         rock
4         False      False           theater/plays     theater        plays
..          ...        ...                     ...         ...          ...
995       False       True        food/food trucks        food  food trucks
996       False      False           theater/plays     theater        plays
997       False      False           theater/plays     theater        plays
998       False       True        music/indie rock       music   indie rock
999       False      False        food/food trucks        food  food trucks

[1000 rows x 17 columns]>

In [24]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = pd.merge(campaign_v2_df,category_df, on="category", how="right")
campaign_merged_df = pd.merge(campaign_merged_df,subcategory_df, on="subcategory", how="right")

campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,50,3613,Rose-Fuller,Upgradable holistic system engine,10000.0,12042.0,successful,117,US,USD,2021-09-28,2021-10-04,False,False,film & video/science fiction,film & video,science fiction,cat5,subcat23
991,1193,3992,"Russo, Kim and Mccoy",Balanced optimal hardware,10000.0,824.0,failed,14,US,USD,2020-11-17,2021-09-22,False,False,film & video/science fiction,film & video,science fiction,cat5,subcat23
992,1973,2357,Montgomery-Castro,De-engineered disintermediate encryption,43800.0,13653.0,failed,248,AU,AUD,2021-01-26,2022-01-18,False,False,film & video/science fiction,film & video,science fiction,cat5,subcat23
993,175,3264,Davis LLC,Compatible logistical paradigm,4700.0,7992.0,successful,81,AU,AUD,2021-08-22,2021-10-12,False,False,film & video/science fiction,film & video,science fiction,cat5,subcat23
994,1994,4093,Boyle Ltd,Streamlined fault-tolerant conglomeration,3300.0,1980.0,failed,21,US,USD,2021-03-07,2021-09-06,False,True,film & video/science fiction,film & video,science fiction,cat5,subcat23
995,1475,2813,Wood Inc,Re-engineered composite focus group,187600.0,35698.0,failed,830,US,USD,2020-08-17,2021-08-05,False,False,film & video/science fiction,film & video,science fiction,cat5,subcat23
996,1095,3565,Young and Sons,Innovative disintermediate encryption,2400.0,4596.0,successful,144,US,USD,2020-11-28,2021-02-28,False,False,journalism/audio,journalism,audio,cat9,subcat24
997,1388,4517,Valenzuela-Cook,Total incremental productivity,6700.0,7496.0,successful,300,US,USD,2021-01-04,2021-10-04,False,False,journalism/audio,journalism,audio,cat9,subcat24
998,2448,2389,Little Ltd,Decentralized bandwidth-monitored ability,6900.0,12155.0,successful,419,US,USD,2021-01-25,2021-04-18,False,False,journalism/audio,journalism,audio,cat9,subcat24
999,602,2153,Giles-Smith,Right-sized web-enabled intranet,9700.0,11929.0,successful,331,US,USD,2022-02-01,2022-02-16,False,False,journalism/audio,journalism,audio,cat9,subcat24

In [25]:
# Drop unwanted columns
campaign_cleaned = campaign_merged_df.drop(columns=['staff_pick','spotlight','category & sub-category','category','subcategory'])
campaign_cleaned.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,subcat1
1,1175,2288,Werner-Bryant,Virtual uniform frame,1800.0,7991.0,successful,222,US,USD,2020-06-20,2021-01-30,cat1,subcat1
2,873,2067,Stewart LLC,Cloned bi-directional architecture,1300.0,12047.0,successful,113,US,USD,2020-11-29,2021-06-11,cat1,subcat1
3,2568,5989,Castillo-Carey,Cross-platform solution-oriented process improvement,142400.0,21307.0,failed,296,US,USD,2020-05-05,2021-05-30,cat1,subcat1
4,1211,3307,"Wright, Hartman and Yu",User-friendly tertiary array,3300.0,12437.0,successful,131,US,USD,2021-01-29,2021-02-13,cat1,subcat1

# Export the DataFrame as a CSV file.

In [26]:
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

***Extract the contacts.xlsx Data***

In [33]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

***Option 1: Use Pandas to Create the Contacts Dataframe***

In [34]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []

for i, row in contact_info_df.iterrows():
    data=row['contact_info']
    rows=json.loads(data)
    values=[]
    values.append(rows['contact_id'])
    values.append(rows['name'])
    values.append(rows['email'])
    dict_values.append(values)

# Print out the list of values for each row.
print(dict_values)

KeyError: 'contact_info'

In [30]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contact_info = pd.DataFrame(dict_values, columns = ['contact_id','name','email'])
contact_info.head()

Empty DataFrame
Columns: [contact_id, name, email]
Index: []

In [31]:
# Check the datatypes.
contact_info.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  0 non-null      object
 1   name        0 non-null      object
 2   email       0 non-null      object
dtypes: object(3)
memory usage: 0.0+ bytes

In [37]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info[["first_name","last_name"]] = contact_info["name"].str.split(' ', n=1, expand=True)
contact_info.head(10)

# Drop the contact_name column
contact_info_dropped = contact_info.drop(columns=['name'])
contact_info_dropped.head(10)

ValueError: Columns must be same length as key

In [36]:
# Reorder the columns
contacts_df_clean = contact_info_dropped[['contact_id','first_name','last_name','email']]
contacts_df_clean.head(10)

NameError: name 'contact_info_dropped' is not defined

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.info()

# Export the DataFrame as a CSV file.

In [35]:
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

NameError: name 'contacts_df_clean' is not defined